@media screen and (max-width: 745px) {
  .chart {
    margin-bottom: 12rem;
  }
  .skillSet {
    margin-bottom: 0 !important;
  }
  .comboSkillPercentage {
    width: 65%;
    margin-top: 1rem;
    display: block !important;
    /*padding: 0.1rem 0.15rem 0.1rem 0.25rem !important;*/
    margin-left: auto !important;
    margin-right: auto;
  }
  .comboSkillPercentage div div {
    display: block !important;
  }
  .ofTotal {
    display: block !important;
  }
  .levelsContainerInner {
    margin-top: 1.5rem;
    display: block !important;
    margin-left: 2rem;
  }
}
.tooltip {
  font-family: 'Bebas Neue';
  color: theme('colors.strong') !important;
  font-size: 2rem !important;
  background-color: theme('colors.secondary_fade') !important;
  border: 5px solid theme('colors.primary') !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}
#intro {
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Bebas Neue';
  color: theme('colors.primary');
  font-size: 3rem;
}
#intro div {
  display: inline-block;
}
#intro span {
  font-weight: 700;
  font-size: 3.5rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
#skills {
  background-color: theme('colors.secondary_fade');
  text-align: center;
}
#comboSkills, #levels {
  background-color: theme('colors.secondary_fade');
  text-align: center;
  margin-top: 5rem;
}
#skills figure {
  padding-left: 14rem;
}
.skillsContainer {
}
.skillSet {
  margin-bottom: 12rem;
}
.headerText {
  text-align: center;
  padding-top: 1rem;
  color: theme('colors.primary');
  font-family: 'Bebas Neue';
  font-size: 4rem;
  font-weight: 1000;
}
.more {
  font-family: 'Bebas Neue';
  padding: 0.4rem 1.7rem 0.4rem 1.7rem;
  font-size: 2rem;
  color: theme('colors.primary');
  border: 0.3rem solid theme('colors.primary');
  transition: all 0.3s;
  margin-bottom: 3rem;
}
.more[disabled] {
  cursor: not-allowed;
  background-color: theme('colors.light');
  border-color: theme('colors.secondary_fade');
  color: theme('colors.secondary');
  pointer-events: none;
}
.more:hover {
  color: theme('colors.strong');
  background-color: theme('colors.primary');
  border-color: theme('colors.light');
}
.language {
  top: 45px;
  left: 45px;
}
.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}
.lessPopular div {
  color: theme('colors.secondary') !important;
  font-size: 3rem !important;
}
.leastPopular div {
  color: theme('colors.light') !important;
  font-size: 2.3rem !important;
}
.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
}
.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}
.comboEntry {
  border: 0.3rem solid theme('colors.primary');
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.comboEntryContainer, .levelsContainerInner {
  position: relative;
}
.comboEntryPlus {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 4rem;
  font-family: 'Bebas Neue';
  color: theme('colors.primary');
}
.comboSkillPercentage {
  border: 0.3rem solid theme('colors.secondary');
  margin-left: 2rem;
  font-size: 3rem;
  font-family: 'Bebas Neue';
  color: theme('colors.primary');
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.comboSkillPercentage div {
  display: inline-block !important;
}
.comboSkillPercentage .ofTotal {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Titillium Web';
  font-weight: 1000;
  color: theme('colors.primary');
}
.comboEntryContainer img, .levelsContainerInner img {
  positon: absolute;
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  background-color: rgba(255,0,0,0);
}
.comboEntryContainer div {
  position: absolute;
  transform: translate(20%, -90%);
  left: 50%;
  top: 50%;
  font-size: 2rem;
  font-family: 'Bebas Neue';
  background-color: theme('colors.strong_fade');
  border-radius: 40px;
  padding: 0.5rem;
  color: theme('colors.light');
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  z-index: 2;
}
.levelsContainerInner div {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  top: 50%;
  font-size: 2rem;
  font-family: 'Bebas Neue';
  background-color: theme('colors.secondary_fade');
  border-radius: 40px;
  padding: 0.5rem;
  color: theme('colors.secondary');
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  z-index: 2;
}
.levelText {
  transform: translate(-70%, -70%) !important;
  background-color: theme('colors.strong_fade') !important;
}
.levelsContainerOuter {
  padding-bottom: 3rem;
}
.levelsContainerInner {
  padding-right: 3rem;
}
.comboEntryRank {
  padding-right: 2rem;
  font-size: 4rem;
  font-family: 'Bebas Neue';
  color: theme('colors.primary');
}
.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background-color: rgba(255,0,0,0);
  z-index: 1;
}
.chart div {
  position: absolute;
  transform: translate(10%, 130%);
  left: 50%;
  bottom: 50%;
  font-size: 3.5rem;
  font-family: 'Bebas Neue';
  color: theme('colors.light');
  background-color: theme('colors.strong_fade');
  border-radius: 60px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  z-index: 2;
}
.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

/* yah */
.angular + svg .outer {
  stroke: #D32F2F;
}
.aws + svg .outer {
  stroke: #37474F;
}
.backend + svg .outer {
  stroke: #AA00FF;
}
.bash + svg .outer {
  stroke: #3E2723;
}
.c + svg .outer {
  stroke: #03A9F4;
}
.csharp + svg .outer {
  stroke: #E040FB;
}
.cplusplus + svg .outer {
  stroke: #01579B;
}
.css + svg .outer {
  stroke: #64B5F6;
}
.docker + svg .outer {
  stroke: #00B0FF;
}
.frontend + svg .outer {
  stroke: #FFEE58;
}
.go + svg .outer {
  stroke: #0097A7;
}
.graphql + svg .outer {
  stroke: #BA68C8;
}
.groovy + svg .outer {
  stroke: #90CAF9;
}
.haskell + svg .outer {
  stroke: #EA80FC;
}
.html + svg .outer {
  stroke: #FF7043;
}
.java + svg .outer {
  stroke: #D32F2F;
}
.javascript + svg .outer {
  stroke: #FFEB3B;
}
.kubernetes + svg .outer {
  stroke: #2979FF;
}
.mongodb + svg .outer {
  stroke: #2979FF;
}
.mysql + svg .outer {
  stroke: #64B5F6;
}
.nodejs + svg .outer {
  stroke: #1B5E20;
}
.perl + svg .outer {
  stroke: #212121;
}
.php + svg .outer {
  stroke: #CE93D8;
}
.postgres + svg .outer {
  stroke: #3D5AFE;
}
.python + svg .outer {
  stroke: #303F9F;
}
.react + svg .outer {
  stroke: #0288D1;
}
.redis + svg .outer {
  stroke: #F44336;
}
.redux + svg .outer {
  stroke: #E040FB;
}
.restApi + svg .outer {
  stroke: #6A1B9A;
}
.ruby + svg .outer {
  stroke: #D50000;
}
.rust + svg .outer {
  stroke: #8D6E63;
}
.typescript + svg .outer {
  stroke: #00E5FF;
}
.vue + svg .outer {
  stroke: #00E676;
}

/* yep */
.chart[data-percent='1'] .outer {
  stroke-dashoffset: 531;
  -webkit-animation: show1 2s;
  animation: show1 2s;
}
@-webkit-keyframes show1 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 531;
  }
}
@keyframes show1 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 531;
  }
}


.chart[data-percent='2'] .outer {
  stroke-dashoffset: 526;
  -webkit-animation: show2 2s;
  animation: show2 2s;
}
@-webkit-keyframes show2 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 526;
  }
}
@keyframes show2 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 526;
  }
}


.chart[data-percent='3'] .outer {
  stroke-dashoffset: 520;
  -webkit-animation: show3 2s;
  animation: show3 2s;
}
@-webkit-keyframes show3 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 520;
  }
}
@keyframes show3 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 520;
  }
}


.chart[data-percent='4'] .outer {
  stroke-dashoffset: 515;
  -webkit-animation: show4 2s;
  animation: show4 2s;
}
@-webkit-keyframes show4 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 515;
  }
}
@keyframes show4 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 515;
  }
}


.chart[data-percent='5'] .outer {
  stroke-dashoffset: 510;
  -webkit-animation: show5 2s;
  animation: show5 2s;
}
@-webkit-keyframes show5 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 510;
  }
}
@keyframes show5 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 510;
  }
}


.chart[data-percent='6'] .outer {
  stroke-dashoffset: 504;
  -webkit-animation: show6 2s;
  animation: show6 2s;
}
@-webkit-keyframes show6 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 504;
  }
}
@keyframes show6 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 504;
  }
}


.chart[data-percent='7'] .outer {
  stroke-dashoffset: 499;
  -webkit-animation: show7 2s;
  animation: show7 2s;
}
@-webkit-keyframes show7 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 499;
  }
}
@keyframes show7 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 499;
  }
}


.chart[data-percent='8'] .outer {
  stroke-dashoffset: 494;
  -webkit-animation: show8 2s;
  animation: show8 2s;
}
@-webkit-keyframes show8 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 494;
  }
}
@keyframes show8 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 494;
  }
}


.chart[data-percent='9'] .outer {
  stroke-dashoffset: 488;
  -webkit-animation: show9 2s;
  animation: show9 2s;
}
@-webkit-keyframes show9 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 488;
  }
}
@keyframes show9 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 488;
  }
}


.chart[data-percent='10'] .outer {
  stroke-dashoffset: 483;
  -webkit-animation: show10 2s;
  animation: show10 2s;
}
@-webkit-keyframes show10 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 483;
  }
}
@keyframes show10 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 483;
  }
}


.chart[data-percent='11'] .outer {
  stroke-dashoffset: 477;
  -webkit-animation: show11 2s;
  animation: show11 2s;
}
@-webkit-keyframes show11 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 477;
  }
}
@keyframes show11 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 477;
  }
}


.chart[data-percent='12'] .outer {
  stroke-dashoffset: 472;
  -webkit-animation: show12 2s;
  animation: show12 2s;
}
@-webkit-keyframes show12 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 472;
  }
}
@keyframes show12 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 472;
  }
}


.chart[data-percent='13'] .outer {
  stroke-dashoffset: 467;
  -webkit-animation: show13 2s;
  animation: show13 2s;
}
@-webkit-keyframes show13 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 467;
  }
}
@keyframes show13 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 467;
  }
}


.chart[data-percent='14'] .outer {
  stroke-dashoffset: 461;
  -webkit-animation: show14 2s;
  animation: show14 2s;
}
@-webkit-keyframes show14 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 461;
  }
}
@keyframes show14 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 461;
  }
}


.chart[data-percent='15'] .outer {
  stroke-dashoffset: 456;
  -webkit-animation: show15 2s;
  animation: show15 2s;
}
@-webkit-keyframes show15 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 456;
  }
}
@keyframes show15 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 456;
  }
}


.chart[data-percent='16'] .outer {
  stroke-dashoffset: 451;
  -webkit-animation: show16 2s;
  animation: show16 2s;
}
@-webkit-keyframes show16 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 451;
  }
}
@keyframes show16 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 451;
  }
}


.chart[data-percent='17'] .outer {
  stroke-dashoffset: 445;
  -webkit-animation: show17 2s;
  animation: show17 2s;
}
@-webkit-keyframes show17 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 445;
  }
}
@keyframes show17 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 445;
  }
}


.chart[data-percent='18'] .outer {
  stroke-dashoffset: 440;
  -webkit-animation: show18 2s;
  animation: show18 2s;
}
@-webkit-keyframes show18 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 440;
  }
}
@keyframes show18 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 440;
  }
}


.chart[data-percent='19'] .outer {
  stroke-dashoffset: 434;
  -webkit-animation: show19 2s;
  animation: show19 2s;
}
@-webkit-keyframes show19 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 434;
  }
}
@keyframes show19 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 434;
  }
}


.chart[data-percent='20'] .outer {
  stroke-dashoffset: 429;
  -webkit-animation: show20 2s;
  animation: show20 2s;
}
@-webkit-keyframes show20 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 429;
  }
}
@keyframes show20 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 429;
  }
}


.chart[data-percent='21'] .outer {
  stroke-dashoffset: 424;
  -webkit-animation: show21 2s;
  animation: show21 2s;
}
@-webkit-keyframes show21 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 424;
  }
}
@keyframes show21 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 424;
  }
}


.chart[data-percent='22'] .outer {
  stroke-dashoffset: 418;
  -webkit-animation: show22 2s;
  animation: show22 2s;
}
@-webkit-keyframes show22 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 418;
  }
}
@keyframes show22 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 418;
  }
}


.chart[data-percent='23'] .outer {
  stroke-dashoffset: 413;
  -webkit-animation: show23 2s;
  animation: show23 2s;
}
@-webkit-keyframes show23 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 413;
  }
}
@keyframes show23 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 413;
  }
}


.chart[data-percent='24'] .outer {
  stroke-dashoffset: 408;
  -webkit-animation: show24 2s;
  animation: show24 2s;
}
@-webkit-keyframes show24 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 408;
  }
}
@keyframes show24 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 408;
  }
}


.chart[data-percent='25'] .outer {
  stroke-dashoffset: 402;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 402;
  }
}
@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 402;
  }
}


.chart[data-percent='26'] .outer {
  stroke-dashoffset: 397;
  -webkit-animation: show26 2s;
  animation: show26 2s;
}
@-webkit-keyframes show26 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 397;
  }
}
@keyframes show26 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 397;
  }
}


.chart[data-percent='27'] .outer {
  stroke-dashoffset: 392;
  -webkit-animation: show27 2s;
  animation: show27 2s;
}
@-webkit-keyframes show27 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 392;
  }
}
@keyframes show27 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 392;
  }
}


.chart[data-percent='28'] .outer {
  stroke-dashoffset: 386;
  -webkit-animation: show28 2s;
  animation: show28 2s;
}
@-webkit-keyframes show28 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 386;
  }
}
@keyframes show28 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 386;
  }
}


.chart[data-percent='29'] .outer {
  stroke-dashoffset: 381;
  -webkit-animation: show29 2s;
  animation: show29 2s;
}
@-webkit-keyframes show29 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 381;
  }
}
@keyframes show29 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 381;
  }
}


.chart[data-percent='30'] .outer {
  stroke-dashoffset: 375;
  -webkit-animation: show30 2s;
  animation: show30 2s;
}
@-webkit-keyframes show30 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 375;
  }
}
@keyframes show30 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 375;
  }
}


.chart[data-percent='31'] .outer {
  stroke-dashoffset: 370;
  -webkit-animation: show31 2s;
  animation: show31 2s;
}
@-webkit-keyframes show31 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 370;
  }
}
@keyframes show31 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 370;
  }
}


.chart[data-percent='32'] .outer {
  stroke-dashoffset: 365;
  -webkit-animation: show32 2s;
  animation: show32 2s;
}
@-webkit-keyframes show32 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 365;
  }
}
@keyframes show32 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 365;
  }
}


.chart[data-percent='33'] .outer {
  stroke-dashoffset: 359;
  -webkit-animation: show33 2s;
  animation: show33 2s;
}
@-webkit-keyframes show33 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 359;
  }
}
@keyframes show33 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 359;
  }
}


.chart[data-percent='34'] .outer {
  stroke-dashoffset: 354;
  -webkit-animation: show34 2s;
  animation: show34 2s;
}
@-webkit-keyframes show34 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 354;
  }
}
@keyframes show34 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 354;
  }
}


.chart[data-percent='35'] .outer {
  stroke-dashoffset: 349;
  -webkit-animation: show35 2s;
  animation: show35 2s;
}
@-webkit-keyframes show35 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 349;
  }
}
@keyframes show35 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 349;
  }
}


.chart[data-percent='36'] .outer {
  stroke-dashoffset: 343;
  -webkit-animation: show36 2s;
  animation: show36 2s;
}
@-webkit-keyframes show36 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 343;
  }
}
@keyframes show36 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 343;
  }
}


.chart[data-percent='37'] .outer {
  stroke-dashoffset: 338;
  -webkit-animation: show37 2s;
  animation: show37 2s;
}
@-webkit-keyframes show37 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 338;
  }
}
@keyframes show37 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 338;
  }
}


.chart[data-percent='38'] .outer {
  stroke-dashoffset: 332;
  -webkit-animation: show38 2s;
  animation: show38 2s;
}
@-webkit-keyframes show38 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 332;
  }
}
@keyframes show38 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 332;
  }
}


.chart[data-percent='39'] .outer {
  stroke-dashoffset: 327;
  -webkit-animation: show39 2s;
  animation: show39 2s;
}
@-webkit-keyframes show39 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 327;
  }
}
@keyframes show39 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 327;
  }
}


.chart[data-percent='40'] .outer {
  stroke-dashoffset: 322;
  -webkit-animation: show40 2s;
  animation: show40 2s;
}
@-webkit-keyframes show40 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 322;
  }
}
@keyframes show40 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 322;
  }
}


.chart[data-percent='41'] .outer {
  stroke-dashoffset: 316;
  -webkit-animation: show41 2s;
  animation: show41 2s;
}
@-webkit-keyframes show41 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 316;
  }
}
@keyframes show41 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 316;
  }
}


.chart[data-percent='42'] .outer {
  stroke-dashoffset: 311;
  -webkit-animation: show42 2s;
  animation: show42 2s;
}
@-webkit-keyframes show42 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 311;
  }
}
@keyframes show42 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 311;
  }
}


.chart[data-percent='43'] .outer {
  stroke-dashoffset: 306;
  -webkit-animation: show43 2s;
  animation: show43 2s;
}
@-webkit-keyframes show43 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 306;
  }
}
@keyframes show43 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 306;
  }
}


.chart[data-percent='44'] .outer {
  stroke-dashoffset: 300;
  -webkit-animation: show44 2s;
  animation: show44 2s;
}
@-webkit-keyframes show44 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 300;
  }
}
@keyframes show44 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 300;
  }
}


.chart[data-percent='45'] .outer {
  stroke-dashoffset: 295;
  -webkit-animation: show45 2s;
  animation: show45 2s;
}
@-webkit-keyframes show45 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 295;
  }
}
@keyframes show45 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 295;
  }
}


.chart[data-percent='46'] .outer {
  stroke-dashoffset: 289;
  -webkit-animation: show46 2s;
  animation: show46 2s;
}
@-webkit-keyframes show46 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 289;
  }
}
@keyframes show46 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 289;
  }
}


.chart[data-percent='47'] .outer {
  stroke-dashoffset: 284;
  -webkit-animation: show47 2s;
  animation: show47 2s;
}
@-webkit-keyframes show47 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 284;
  }
}
@keyframes show47 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 284;
  }
}


.chart[data-percent='48'] .outer {
  stroke-dashoffset: 279;
  -webkit-animation: show48 2s;
  animation: show48 2s;
}
@-webkit-keyframes show48 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 279;
  }
}
@keyframes show48 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 279;
  }
}


.chart[data-percent='49'] .outer {
  stroke-dashoffset: 273;
  -webkit-animation: show49 2s;
  animation: show49 2s;
}
@-webkit-keyframes show49 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 273;
  }
}
@keyframes show49 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 273;
  }
}


.chart[data-percent='50'] .outer {
  stroke-dashoffset: 268;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}
@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 268;
  }
}
@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 268;
  }
}


.chart[data-percent='51'] .outer {
  stroke-dashoffset: 263;
  -webkit-animation: show51 2s;
  animation: show51 2s;
}
@-webkit-keyframes show51 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 263;
  }
}
@keyframes show51 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 263;
  }
}


.chart[data-percent='52'] .outer {
  stroke-dashoffset: 257;
  -webkit-animation: show52 2s;
  animation: show52 2s;
}
@-webkit-keyframes show52 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 257;
  }
}
@keyframes show52 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 257;
  }
}


.chart[data-percent='53'] .outer {
  stroke-dashoffset: 252;
  -webkit-animation: show53 2s;
  animation: show53 2s;
}
@-webkit-keyframes show53 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 252;
  }
}
@keyframes show53 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 252;
  }
}


.chart[data-percent='54'] .outer {
  stroke-dashoffset: 247;
  -webkit-animation: show54 2s;
  animation: show54 2s;
}
@-webkit-keyframes show54 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 247;
  }
}
@keyframes show54 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 247;
  }
}


.chart[data-percent='55'] .outer {
  stroke-dashoffset: 241;
  -webkit-animation: show55 2s;
  animation: show55 2s;
}
@-webkit-keyframes show55 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 241;
  }
}
@keyframes show55 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 241;
  }
}


.chart[data-percent='56'] .outer {
  stroke-dashoffset: 236;
  -webkit-animation: show56 2s;
  animation: show56 2s;
}
@-webkit-keyframes show56 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 236;
  }
}
@keyframes show56 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 236;
  }
}


.chart[data-percent='57'] .outer {
  stroke-dashoffset: 230;
  -webkit-animation: show57 2s;
  animation: show57 2s;
}
@-webkit-keyframes show57 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 230;
  }
}
@keyframes show57 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 230;
  }
}


.chart[data-percent='58'] .outer {
  stroke-dashoffset: 225;
  -webkit-animation: show58 2s;
  animation: show58 2s;
}
@-webkit-keyframes show58 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 225;
  }
}
@keyframes show58 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 225;
  }
}


.chart[data-percent='59'] .outer {
  stroke-dashoffset: 220;
  -webkit-animation: show59 2s;
  animation: show59 2s;
}
@-webkit-keyframes show59 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 220;
  }
}
@keyframes show59 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 220;
  }
}


.chart[data-percent='60'] .outer {
  stroke-dashoffset: 214;
  -webkit-animation: show60 2s;
  animation: show60 2s;
}
@-webkit-keyframes show60 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 214;
  }
}
@keyframes show60 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 214;
  }
}


.chart[data-percent='61'] .outer {
  stroke-dashoffset: 209;
  -webkit-animation: show61 2s;
  animation: show61 2s;
}
@-webkit-keyframes show61 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 209;
  }
}
@keyframes show61 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 209;
  }
}


.chart[data-percent='62'] .outer {
  stroke-dashoffset: 204;
  -webkit-animation: show62 2s;
  animation: show62 2s;
}
@-webkit-keyframes show62 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 204;
  }
}
@keyframes show62 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 204;
  }
}


.chart[data-percent='63'] .outer {
  stroke-dashoffset: 198;
  -webkit-animation: show63 2s;
  animation: show63 2s;
}
@-webkit-keyframes show63 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 198;
  }
}
@keyframes show63 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 198;
  }
}


.chart[data-percent='64'] .outer {
  stroke-dashoffset: 193;
  -webkit-animation: show64 2s;
  animation: show64 2s;
}
@-webkit-keyframes show64 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 193;
  }
}
@keyframes show64 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 193;
  }
}


.chart[data-percent='65'] .outer {
  stroke-dashoffset: 187;
  -webkit-animation: show65 2s;
  animation: show65 2s;
}
@-webkit-keyframes show65 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 187;
  }
}
@keyframes show65 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 187;
  }
}


.chart[data-percent='66'] .outer {
  stroke-dashoffset: 182;
  -webkit-animation: show66 2s;
  animation: show66 2s;
}
@-webkit-keyframes show66 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 182;
  }
}
@keyframes show66 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 182;
  }
}


.chart[data-percent='67'] .outer {
  stroke-dashoffset: 177;
  -webkit-animation: show67 2s;
  animation: show67 2s;
}
@-webkit-keyframes show67 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 177;
  }
}
@keyframes show67 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 177;
  }
}


.chart[data-percent='68'] .outer {
  stroke-dashoffset: 171;
  -webkit-animation: show68 2s;
  animation: show68 2s;
}
@-webkit-keyframes show68 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 171;
  }
}
@keyframes show68 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 171;
  }
}


.chart[data-percent='69'] .outer {
  stroke-dashoffset: 166;
  -webkit-animation: show69 2s;
  animation: show69 2s;
}
@-webkit-keyframes show69 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 166;
  }
}
@keyframes show69 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 166;
  }
}


.chart[data-percent='70'] .outer {
  stroke-dashoffset: 161;
  -webkit-animation: show70 2s;
  animation: show70 2s;
}
@-webkit-keyframes show70 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 161;
  }
}
@keyframes show70 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 161;
  }
}


.chart[data-percent='71'] .outer {
  stroke-dashoffset: 155;
  -webkit-animation: show71 2s;
  animation: show71 2s;
}
@-webkit-keyframes show71 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 155;
  }
}
@keyframes show71 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 155;
  }
}


.chart[data-percent='72'] .outer {
  stroke-dashoffset: 150;
  -webkit-animation: show72 2s;
  animation: show72 2s;
}
@-webkit-keyframes show72 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 150;
  }
}
@keyframes show72 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 150;
  }
}


.chart[data-percent='73'] .outer {
  stroke-dashoffset: 144;
  -webkit-animation: show73 2s;
  animation: show73 2s;
}
@-webkit-keyframes show73 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 144;
  }
}
@keyframes show73 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 144;
  }
}


.chart[data-percent='74'] .outer {
  stroke-dashoffset: 139;
  -webkit-animation: show74 2s;
  animation: show74 2s;
}
@-webkit-keyframes show74 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 139;
  }
}
@keyframes show74 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 139;
  }
}


.chart[data-percent='75'] .outer {
  stroke-dashoffset: 134;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}
@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 134;
  }
}
@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 134;
  }
}


.chart[data-percent='76'] .outer {
  stroke-dashoffset: 128;
  -webkit-animation: show76 2s;
  animation: show76 2s;
}
@-webkit-keyframes show76 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 128;
  }
}
@keyframes show76 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 128;
  }
}


.chart[data-percent='77'] .outer {
  stroke-dashoffset: 123;
  -webkit-animation: show77 2s;
  animation: show77 2s;
}
@-webkit-keyframes show77 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 123;
  }
}
@keyframes show77 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 123;
  }
}


.chart[data-percent='78'] .outer {
  stroke-dashoffset: 118;
  -webkit-animation: show78 2s;
  animation: show78 2s;
}
@-webkit-keyframes show78 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 118;
  }
}
@keyframes show78 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 118;
  }
}


.chart[data-percent='79'] .outer {
  stroke-dashoffset: 112;
  -webkit-animation: show79 2s;
  animation: show79 2s;
}
@-webkit-keyframes show79 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 112;
  }
}
@keyframes show79 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 112;
  }
}


.chart[data-percent='80'] .outer {
  stroke-dashoffset: 107;
  -webkit-animation: show80 2s;
  animation: show80 2s;
}
@-webkit-keyframes show80 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 107;
  }
}
@keyframes show80 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 107;
  }
}


.chart[data-percent='81'] .outer {
  stroke-dashoffset: 102;
  -webkit-animation: show81 2s;
  animation: show81 2s;
}
@-webkit-keyframes show81 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 102;
  }
}
@keyframes show81 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 102;
  }
}


.chart[data-percent='82'] .outer {
  stroke-dashoffset: 96;
  -webkit-animation: show82 2s;
  animation: show82 2s;
}
@-webkit-keyframes show82 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 96;
  }
}
@keyframes show82 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 96;
  }
}


.chart[data-percent='83'] .outer {
  stroke-dashoffset: 91;
  -webkit-animation: show83 2s;
  animation: show83 2s;
}
@-webkit-keyframes show83 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 91;
  }
}
@keyframes show83 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 91;
  }
}


.chart[data-percent='84'] .outer {
  stroke-dashoffset: 85;
  -webkit-animation: show84 2s;
  animation: show84 2s;
}
@-webkit-keyframes show84 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 85;
  }
}
@keyframes show84 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 85;
  }
}


.chart[data-percent='85'] .outer {
  stroke-dashoffset: 80;
  -webkit-animation: show85 2s;
  animation: show85 2s;
}
@-webkit-keyframes show85 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 80;
  }
}
@keyframes show85 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 80;
  }
}


.chart[data-percent='86'] .outer {
  stroke-dashoffset: 75;
  -webkit-animation: show86 2s;
  animation: show86 2s;
}
@-webkit-keyframes show86 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 75;
  }
}
@keyframes show86 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 75;
  }
}


.chart[data-percent='87'] .outer {
  stroke-dashoffset: 69;
  -webkit-animation: show87 2s;
  animation: show87 2s;
}
@-webkit-keyframes show87 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 69;
  }
}
@keyframes show87 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 69;
  }
}


.chart[data-percent='88'] .outer {
  stroke-dashoffset: 64;
  -webkit-animation: show88 2s;
  animation: show88 2s;
}
@-webkit-keyframes show88 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 64;
  }
}
@keyframes show88 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 64;
  }
}


.chart[data-percent='89'] .outer {
  stroke-dashoffset: 59;
  -webkit-animation: show89 2s;
  animation: show89 2s;
}
@-webkit-keyframes show89 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 59;
  }
}
@keyframes show89 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 59;
  }
}


.chart[data-percent='90'] .outer {
  stroke-dashoffset: 53;
  -webkit-animation: show90 2s;
  animation: show90 2s;
}
@-webkit-keyframes show90 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 53;
  }
}
@keyframes show90 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 53;
  }
}


.chart[data-percent='91'] .outer {
  stroke-dashoffset: 48;
  -webkit-animation: show91 2s;
  animation: show91 2s;
}
@-webkit-keyframes show91 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 48;
  }
}
@keyframes show91 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 48;
  }
}


.chart[data-percent='92'] .outer {
  stroke-dashoffset: 42;
  -webkit-animation: show92 2s;
  animation: show92 2s;
}
@-webkit-keyframes show92 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 42;
  }
}
@keyframes show92 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 42;
  }
}


.chart[data-percent='93'] .outer {
  stroke-dashoffset: 37;
  -webkit-animation: show93 2s;
  animation: show93 2s;
}
@-webkit-keyframes show93 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 37;
  }
}
@keyframes show93 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 37;
  }
}


.chart[data-percent='94'] .outer {
  stroke-dashoffset: 32;
  -webkit-animation: show94 2s;
  animation: show94 2s;
}
@-webkit-keyframes show94 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 32;
  }
}
@keyframes show94 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 32;
  }
}


.chart[data-percent='95'] .outer {
  stroke-dashoffset: 26;
  -webkit-animation: show95 2s;
  animation: show95 2s;
}
@-webkit-keyframes show95 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 26;
  }
}
@keyframes show95 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 26;
  }
}


.chart[data-percent='96'] .outer {
  stroke-dashoffset: 21;
  -webkit-animation: show96 2s;
  animation: show96 2s;
}
@-webkit-keyframes show96 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 21;
  }
}
@keyframes show96 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 21;
  }
}


.chart[data-percent='97'] .outer {
  stroke-dashoffset: 16;
  -webkit-animation: show97 2s;
  animation: show97 2s;
}
@-webkit-keyframes show97 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 16;
  }
}
@keyframes show97 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 16;
  }
}


.chart[data-percent='98'] .outer {
  stroke-dashoffset: 10;
  -webkit-animation: show98 2s;
  animation: show98 2s;
}
@-webkit-keyframes show98 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 10;
  }
}
@keyframes show98 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 10;
  }
}


.chart[data-percent='99'] .outer {
  stroke-dashoffset: 5;
  -webkit-animation: show99 2s;
  animation: show99 2s;
}
@-webkit-keyframes show99 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 5;
  }
}
@keyframes show99 {
  from {
    stroke-dashoffset: 537;
  } 
  to {
    stroke-dashoffset: 5;
  }
}
