@media screen and (max-width: 1280px) {
  #burgerMenu {
    display: block !important;
  }
  #navLinks, #footerLinks {
    display: none;
  }
  #footerNote {
    text-align: center !important;
    padding-right: 0 !important;
    margin-bottom: -1rem !important;
  }
  #headerNote {
    text-align: center;
    left: auto !important;
    width: 80%;
    margin-top: 0.5rem !important;
  }
  #footer svg {
    margin-bottom: -50px;
  }
}
@media screen and (max-width: 1180px) {
  #headerNote {
    width: 50%;
  }
}
#layout {
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: theme('colors.light');
  z-index: -1;
}
#header svg {
  width: 100%;
  height: auto;
  top: 0;
}
#header svg path {
  fill: theme('colors.primary');
}
#footer svg {
  width: 100%;
  height: auto;
  bottom: 0;
}
#footer svg path {
  fill: theme('colors.secondary');
}
#main {
  flex: 1;
  z-index: 1;
  margin-top: -15%;
  margin-bottom: -10%;
}
#burgerLayout {
  z-index: 2;
}
#navLinks {
  position: absolute;
  top: 0;
  font-family: 'Bebas Neue';
  color: theme('colors.light');
  padding-top: 32px;
  font-size: 3rem;
  left: 75%;
}
#headerNote {
  font-family: 'Titillium Web';
  color: theme('colors.light');
  position: absolute;
  top: 0;
  left: 15%;
  margin-top: 3.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#logo {
  font-family: 'Bebas Neue';
  padding-right: 1rem;
  font-size: 2rem;
}
#navLinks a, #footerLinks a {
  display: block;
  margin-bottom: -1rem;
}
#footerLinks a {
  color: theme('colors.primary');
}
#navLinks a:hover {
  transition: all 0.5s;
  color: theme('colors.strong');
}
#navLinks img, #burgerContainer img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 1rem;
}
#footer {
  position: relative;
  bottom: 0;
}
#footerLinks a:hover {
  transition: all 0.5s;
  color: theme('colors.light');
}
#footerLinks {
  position: absolute;
  bottom: 0;
  font-family: 'Bebas Neue';
  font-size: 3rem;
  left: 35%;
  margin-bottom: 3rem;
}
#footerNote {
  font-family: 'Titillium Web';
  position: absolute;
  bottom: 0;
  text-align: right;
  padding-right: 4em;
  width: 100%;
  margin-bottom: 3.5rem;
  font-size: 1.8rem;
  color: theme('colors.strong');
  font-weight: 800;
}
#footerNote a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  font-weight: bold;
  transition: all 0.3s;
}
#footerNote a:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: theme('colors.primary');

}
.animate {
  display: block !important;
}

#burgerMenu {
  display: none;
  position: absolute;
  top: 0;
  left: 82%;
  margin-top: 2rem;
}

.burgerWrapper {
  position: absolute;
  cursor: pointer;
  margin: auto;
  width: 50px;
  height: 40px;
  
  .hamburger {
    background: white;
    width: 50px;
    height: 5px;
    position: relative;
    transition: white 10ms 300ms ease;
    transform: translateY(20px);
    
    &:before, &:after {
      transition: top 300ms 350ms ease,
        transform 300ms 50ms ease;
      position: absolute;
      background: white;
      width: 50px;
      height: 5px;
      content: '';
    }
    &:before {
      top: -15px;
    }
    &:after {
      top: 15px;
    }
  }
}

.menuTrigger:checked {
  ~ .burgerWrapper {
    .hamburger {
      background: transparent;
      &:after, &:before {
        transition: top 300ms 50ms ease,
        transform 300ms 350ms ease;
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
#burgerCard {
  position: fixed;
  top: 10%;
  width: 100%;
  height: 100%;
  background-color: theme('colors.primary');
  z-index: 2;
}
#burgerContainer {
  margin-top: 30%;
}
#burgerFooter {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  font-family: 'Titillium Web';
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.burgerSticky {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.burgerEntry {
  font-family: 'Bebas Neue';
  display: block;
  border: 1px solid white;
  width: 60%;
  font-size: 3rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
#burgerCard div {
  text-align: center;
}
#burgerCard a {
  color: white;
}